body{
	background-color: #eee;

}
#logo{
	width: 30%;
}
ul{
	padding-left: 50px;
}
ul li {
	list-style: none;
	display: inline-block;
	color:black;
	padding-left: 30px;
}
a{
text-decoration: none;
}
.menu{
	width: 50%;
	display: flex;
	justify-content: space-around;

}
#email{
    width:45%;
    padding:5px;
}
.header{
	text-align:center;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.text{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

}
h1{
	margin:0;
}
.content {
	display: flex;
	padding-top:20px;
	padding-bottom: 20px;
}

#id{
	display: flex;
	justify-content: space-around;

}
.icon{
	display: flex;
	width: 40%;
	justify-content: flex-end;
	padding-right: 20px;

}
.video{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.box1{
    border:1px solid black;
    width:25%;
    margin:5%;
    text-align: center;
    padding-bottom: 2%;
    border-radius: 5px;
}
#btn{
    display:flex;
    justify-content: center;
    background-color:orange;
    padding:8%;
    background-color: #f1c40f;
    cursor:pointer;
    margin-left: 160px;
}
#pricing{
    display:flex;
}

